In [351]:
import numpy as np
import pandas as pd

## DATI OECD STATISTICS

In [352]:
df = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/HOUSING/HOUSE_PRICES_08042024160510546.csv')
df.head(20)

,COU,Country,IND,Indicator,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,CAN,Canada,RHP,"Real house price indices, s.a.",1996,1996,IDX,Index,0,Units,NaN,NaN,48.848195,NaN,NaN
1,CAN,Canada,RHP,"Real house price indices, s.a.",1996-Q1,Q1-1996,IDX,Index,0,Units,NaN,NaN,48.879301,NaN,NaN
2,CAN,Canada,RHP,"Real house price indices, s.a.",1996-Q2,Q2-1996,IDX,Index,0,Units,NaN,NaN,49.007158,NaN,NaN
3,CAN,Canada,RHP,"Real house price indices, s.a.",1996-Q3,Q3-1996,IDX,Index,0,Units,NaN,NaN,48.868899,NaN,NaN
4,CAN,Canada,RHP,"Real house price indices, s.a.",1996-Q4,Q4-1996,IDX,Index,0,Units,NaN,NaN,48.637423,NaN,NaN
5,CAN,Canada,RHP,"Real house price indices, s.a.",1997,1997,IDX,Index,0,Units,NaN,NaN,49.363977,NaN,NaN
6,CAN,Canada,RHP,"Real house price indices, s.a.",1997-Q1,Q1-1997,IDX,Index,0,Units,NaN,NaN,49.267996,NaN,NaN
7,CAN,Canada,RHP,"Real house price indices, s.a.",1997-Q2,Q2-1997,IDX,Index,0,Units,NaN,NaN,49.704961,NaN,NaN
8,CAN,Canada,RHP,"Real house price indices, s.a.",1997-Q3,Q3-1997,IDX,Index,0,Units,NaN,NaN,49.513645,NaN,NaN
9,CAN,Canada,RHP,"Real house price indices, s.a.",1997-Q4,Q4-1997,IDX,Index,0,Units,NaN,NaN,48.969305,NaN,NaN
10,CAN,Canada,RHP,"Real house price indices, s.a.",1998,1998,IDX,Index,0,Units,NaN,NaN,48.045011,NaN,NaN
11,CAN,Canada,RHP,"Real house price indices, s.a.",1998-Q1,Q1-1998,IDX,Index,0,Units,NaN,NaN,48.446311,NaN,NaN
12,CAN,Canada,RHP,"Real house price indices, s.a.",1998-Q2,Q2-1998,IDX,Index,0,Units,NaN,NaN,48.057706,NaN,NaN
13,CAN,Canada,RHP,"Real house price indices, s.a.",1998-Q3,Q3-1998,IDX,Index,0,Units,NaN,NaN,47.688504,NaN,NaN
14,CAN,Canada,RHP,"Real house price indices, s.a.",1998-Q4,Q4-1998,IDX,Index,0,Units,NaN,NaN,47.987523,NaN,NaN
15,CAN,Canada,RHP,"Real house price indices, s.a.",1999,1999,IDX,Index,0,Units,NaN,NaN,48.775132,NaN,NaN
16,CAN,Canada,RHP,"Real house price indices, s.a.",1999-Q1,Q1-1999,IDX,Index,0,Units,NaN,NaN,48.401264,NaN,NaN
17,CAN,Canada,RHP,"Real house price indices, s.a.",1999-Q2,Q2-1999,IDX,Index,0,Units,NaN,NaN,48.857987,NaN,NaN
18,CAN,Canada,RHP,"Real house price indices, s.a.",1999-Q3,Q3-1999,IDX,Index,0,Units,NaN,NaN,48.796581,NaN,NaN
19,CAN,Canada,RHP,"Real house price indices, s.a.",1999-Q4,Q4-1999,IDX,Index,0,Units,NaN,NaN,49.044697,NaN,NaN

In [353]:
df = df.set_index('Time')

In [355]:
anni = np.arange(1996, 2022, 1)
anni

for anno in anni:
    df = df.drop(str(anno))

In [356]:
df = df.reset_index()
df = df[['Country', 'Indicator', 'Time','Value']]

In [357]:
df = df.set_index('Country')

In [358]:

real_property_nations= df.groupby('Country').sum().index
pd.DataFrame(real_property_nations)

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_944/3895222859.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  real_property_nations= df.groupby('Country').sum().index

                         Country
0                      Australia
1                        Austria
2                        Belgium
3                       Bulgaria
4                         Canada
5   China (People's Republic of)
6                        Denmark
7                        Estonia
8                        Finland
9                         France
10                       Germany
11                        Greece
12                       Iceland
13                       Ireland
14                         Italy
15                         Japan
16                         Korea
17                        Latvia
18                   Netherlands
19                        Norway
20                        Poland
21                      Portugal
22                        Russia
23                  Saudi Arabia
24                  South Africa
25                         Spain
26                        Sweden
27                   Switzerland
28                United Kingdom
29                 United States

In [359]:
pti = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/HOUSING/standardized price to income.csv')
pti.head(20)

,COU,Country,IND,Indicator,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q1,Q1-2000,1,RATIOS,0,Units,NaN,NaN,77.799455,NaN,NaN
1,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q2,Q2-2000,1,RATIOS,0,Units,NaN,NaN,77.597199,NaN,NaN
2,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q3,Q3-2000,1,RATIOS,0,Units,NaN,NaN,77.059732,NaN,NaN
3,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q4,Q4-2000,1,RATIOS,0,Units,NaN,NaN,76.532518,NaN,NaN
4,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2001-Q1,Q1-2001,1,RATIOS,0,Units,NaN,NaN,76.297197,NaN,NaN
5,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2001-Q2,Q2-2001,1,RATIOS,0,Units,NaN,NaN,78.965179,NaN,NaN
6,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2001-Q3,Q3-2001,1,RATIOS,0,Units,NaN,NaN,78.693730,NaN,NaN
7,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2001-Q4,Q4-2001,1,RATIOS,0,Units,NaN,NaN,79.271853,NaN,NaN
8,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2002-Q1,Q1-2002,1,RATIOS,0,Units,NaN,NaN,79.326092,NaN,NaN
9,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2002-Q2,Q2-2002,1,RATIOS,0,Units,NaN,NaN,82.168334,NaN,NaN
10,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2002-Q3,Q3-2002,1,RATIOS,0,Units,NaN,NaN,83.006249,NaN,NaN
11,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2002-Q4,Q4-2002,1,RATIOS,0,Units,NaN,NaN,83.607168,NaN,NaN
12,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2003-Q1,Q1-2003,1,RATIOS,0,Units,NaN,NaN,85.015195,NaN,NaN
13,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2003-Q2,Q2-2003,1,RATIOS,0,Units,NaN,NaN,85.419840,NaN,NaN
14,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2003-Q3,Q3-2003,1,RATIOS,0,Units,NaN,NaN,87.272895,NaN,NaN
15,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2003-Q4,Q4-2003,1,RATIOS,0,Units,NaN,NaN,88.829999,NaN,NaN
16,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2004-Q1,Q1-2004,1,RATIOS,0,Units,NaN,NaN,89.558452,NaN,NaN
17,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2004-Q2,Q2-2004,1,RATIOS,0,Units,NaN,NaN,89.346975,NaN,NaN
18,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2004-Q3,Q3-2004,1,RATIOS,0,Units,NaN,NaN,90.079911,NaN,NaN
19,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2004-Q4,Q4-2004,1,RATIOS,0,Units,NaN,NaN,90.853127,NaN,NaN

In [360]:
pti_nations = pti.groupby('Country').sum().index
pti_nations

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_944/2950056036.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pti_nations = pti.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan', 'Korea',
       'Netherlands', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [361]:
da_cancellare_dal_pti= []
for nazione in pti_nations:
    if nazione in real_property_nations:
        print(f'{nazione} è presente in entrambi i database')
    else:
        print(f'{nazione},che è presente nel pti database, va eliminata dal pti, non essendo presente nell altro database database')
        da_cancellare_dal_pti.append(nazione)

Australia è presente in entrambi i database
Austria è presente in entrambi i database
Belgium è presente in entrambi i database
Canada è presente in entrambi i database
Denmark è presente in entrambi i database
Finland è presente in entrambi i database
France è presente in entrambi i database
Germany è presente in entrambi i database
Greece è presente in entrambi i database
Ireland è presente in entrambi i database
Italy è presente in entrambi i database
Japan è presente in entrambi i database
Korea è presente in entrambi i database
Netherlands è presente in entrambi i database
Norway è presente in entrambi i database
Portugal è presente in entrambi i database
Spain è presente in entrambi i database
Sweden è presente in entrambi i database
Switzerland è presente in entrambi i database
United Kingdom è presente in entrambi i database
United States è presente in entrambi i database

***QUI CONTROLLO QUALI NAZIONI, PRESENTI NEL DATABASE DEL REAL PRICE SIANO ASSENTI INVECE NEL DATABASE PTI***

In [362]:
cancellare_real=[]
for nazione in real_property_nations:
    if nazione in pti_nations:
        print(f'{nazione} è presente in entrambi i database')
    else:
        print(f'{nazione},va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income  ')
        cancellare_real.append(nazione)

Australia è presente in entrambi i database
Austria è presente in entrambi i database
Belgium è presente in entrambi i database
Bulgaria,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Canada è presente in entrambi i database
China (People's Republic of),va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Denmark è presente in entrambi i database
Estonia,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Finland è presente in entrambi i database
France è presente in entrambi i database
Germany è presente in entrambi i database
Greece è presente in entrambi i database
Iceland,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Ireland è presente in entrambi i database
Italy è presente in entrambi i database
Japan è presente in entrambi i database
Korea è presente in entrambi i database
Latvia,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Netherlands è presente in entrambi i database
Norway è presente in entrambi i database
Poland,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Portugal è presente in entrambi i database
Russia,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Saudi Arabia,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
South Africa,va eliminata dal real property database dato che è presente nel real property,  non è nel Price to Income
Spain è presente in entrambi i database
Sweden è presente in entrambi i database
Switzerland è presente in entrambi i database
United Kingdom è presente in entrambi i database
United States è presente in entrambi i database

In [363]:
cancellare_real

['Bulgaria',
 "China (People's Republic of)",
 'Estonia',
 'Iceland',
 'Latvia',
 'Poland',
 'Russia',
 'Saudi Arabia',
 'South Africa']

In [364]:
del cancellare_real[3]
cancellare_real

['Bulgaria',
 "China (People's Republic of)",
 'Estonia',
 'Latvia',
 'Poland',
 'Russia',
 'Saudi Arabia',
 'South Africa']

In [365]:
del cancellare_real[5]
cancellare_real

['Bulgaria',
 "China (People's Republic of)",
 'Estonia',
 'Latvia',
 'Poland',
 'Saudi Arabia',
 'South Africa']

In [366]:
del cancellare_real[1]

In [367]:
cancellare_real

['Bulgaria', 'Estonia', 'Latvia', 'Poland', 'Saudi Arabia', 'South Africa']

In [368]:
pti

,COU,Country,IND,Indicator,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q1,Q1-2000,1,RATIOS,0,Units,NaN,NaN,77.799455,NaN,NaN
1,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q2,Q2-2000,1,RATIOS,0,Units,NaN,NaN,77.597199,NaN,NaN
2,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q3,Q3-2000,1,RATIOS,0,Units,NaN,NaN,77.059732,NaN,NaN
3,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2000-Q4,Q4-2000,1,RATIOS,0,Units,NaN,NaN,76.532518,NaN,NaN
4,CAN,Canada,HPI_YDH_AVG,Standardised price-income ratio,2001-Q1,Q1-2001,1,RATIOS,0,Units,NaN,NaN,76.297197,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,SWE,Sweden,HPI_YDH_AVG,Standardised price-income ratio,2021-Q4,Q4-2021,1,RATIOS,0,Units,NaN,NaN,150.083550,NaN,NaN
1928,SWE,Sweden,HPI_YDH_AVG,Standardised price-income ratio,2022-Q1,Q1-2022,1,RATIOS,0,Units,NaN,NaN,150.889245,NaN,NaN
1929,SWE,Sweden,HPI_YDH_AVG,Standardised price-income ratio,2022-Q2,Q2-2022,1,RATIOS,0,Units,NaN,NaN,148.507815,NaN,NaN
1930,SWE,Sweden,HPI_YDH_AVG,Standardised price-income ratio,2022-Q3,Q3-2022,1,RATIOS,0,Units,NaN,NaN,142.323689,NaN,NaN
1931,SWE,Sweden,HPI_YDH_AVG,Standardised price-income ratio,2022-Q4,Q4-2022,1,RATIOS,0,Units,NaN,NaN,136.682997,NaN,NaN

In [369]:
#pti = pti.set_index('Country')
da_cancellare_dal_pti

for paese in da_cancellare_dal_pti:
    pti = pti.drop(str(paese))

In [370]:
for paese in cancellare_real:
    df = df.drop(str(paese))

In [371]:
pti2 = pti[['Country','Indicator','Time','Value']]
#pti = pti.reset_index

***PURTORPPO NON SI TROVANO DATI SULLA CINA RELATIVAMENTE A PRICE TO INCOME O PRICE TO RENT RATIO, PER CUI IL VALORE DELL'INDICE PER LO SPECIFICO PAESE NON NE POTRà TENERE CONTO***

In [372]:
pti2.head(10)

pti2 = pti2.set_index('Country')

**PER QUANTO RIGUARDA I DATI DI ICELAND SOUTH AFRICA E RUSSIA INVECE SI SOSTITUISCONO I VALORI DI PRICE TO INCOME CON QUELLI DI PRICE TO RENT CHE SONO DISPONIBILI SUL DATABASE OECD**

In [373]:
integrandi = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/HOUSING/PRICE TO RENT/ICELAND RUSSIA.csv')
integrandi

,COU,Country,IND,Indicator,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,ISL,Iceland,HPI_RPI,Price to rent ratio,2000-Q2,Q2-2000,IDX,Index,0,Units,NaN,NaN,110.090975,NaN,NaN
1,ISL,Iceland,HPI_RPI,Price to rent ratio,2000-Q3,Q3-2000,IDX,Index,0,Units,NaN,NaN,109.783140,NaN,NaN
2,ISL,Iceland,HPI_RPI,Price to rent ratio,2000-Q4,Q4-2000,IDX,Index,0,Units,NaN,NaN,110.031027,NaN,NaN
3,ISL,Iceland,HPI_RPI,Price to rent ratio,2001-Q1,Q1-2001,IDX,Index,0,Units,NaN,NaN,109.571376,NaN,NaN
4,ISL,Iceland,HPI_RPI,Price to rent ratio,2001-Q2,Q2-2001,IDX,Index,0,Units,NaN,NaN,110.219180,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,RUS,Russia,HPI_RPI,Price to rent ratio,2021-Q1,Q1-2021,IDX,Index,0,Units,NaN,NaN,144.302019,NaN,NaN
160,RUS,Russia,HPI_RPI,Price to rent ratio,2021-Q2,Q2-2021,IDX,Index,0,Units,NaN,NaN,151.912277,NaN,NaN
161,RUS,Russia,HPI_RPI,Price to rent ratio,2021-Q3,Q3-2021,IDX,Index,0,Units,NaN,NaN,157.019287,NaN,NaN
162,RUS,Russia,HPI_RPI,Price to rent ratio,2021-Q4,Q4-2021,IDX,Index,0,Units,NaN,NaN,164.183619,NaN,NaN
163,RUS,Russia,HPI_RPI,Price to rent ratio,2022-Q1,Q1-2022,IDX,Index,0,Units,NaN,NaN,173.854919,NaN,NaN

In [374]:
integrandi2 = integrandi[['Country','Indicator','Time','Value']]
integrandi2.head(10)

   Country            Indicator     Time       Value
0  Iceland  Price to rent ratio  Q2-2000  110.090975
1  Iceland  Price to rent ratio  Q3-2000  109.783140
2  Iceland  Price to rent ratio  Q4-2000  110.031027
3  Iceland  Price to rent ratio  Q1-2001  109.571376
4  Iceland  Price to rent ratio  Q2-2001  110.219180
5  Iceland  Price to rent ratio  Q3-2001  108.980642
6  Iceland  Price to rent ratio  Q4-2001  108.932964
7  Iceland  Price to rent ratio  Q1-2002  108.678763
8  Iceland  Price to rent ratio  Q2-2002  105.763916
9  Iceland  Price to rent ratio  Q3-2002  104.723368

In [375]:
integrandi2 = integrandi2.set_index('Country')

In [376]:
housing = pd.concat([pti2,integrandi2],axis=0)
housing

                               Indicator     Time       Value
Country
Canada   Standardised price-income ratio  Q1-2000   77.799455
Canada   Standardised price-income ratio  Q2-2000   77.597199
Canada   Standardised price-income ratio  Q3-2000   77.059732
Canada   Standardised price-income ratio  Q4-2000   76.532518
Canada   Standardised price-income ratio  Q1-2001   76.297197
...                                  ...      ...         ...
Russia               Price to rent ratio  Q1-2021  144.302019
Russia               Price to rent ratio  Q2-2021  151.912277
Russia               Price to rent ratio  Q3-2021  157.019287
Russia               Price to rent ratio  Q4-2021  164.183619
Russia               Price to rent ratio  Q1-2022  173.854919

[2096 rows x 3 columns]

***Controllo di aver correttamente eliminato gli elementi problematici del mio dataset***

In [377]:
housing.groupby('Country').sum().index

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_944/2856736219.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  housing.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')

## FASE DI RAGGRUPPAMENTO VERO E PROPRIO DEL DATASET PTI E DI QUELLO REAL PRICES

In [378]:
house = pd.merge(df, housing, on=['Country', 'Time'])
house.loc['Australia']
house = house.set_index('Time',append=True)

In [379]:
house = house[['Value_x','Value_y']]
house.columns = [['Real house price indices','Price to income ratio']]

In [380]:
house.to_csv('Housing')

## NEL CASO TE LO IMPORTASSI ALTROVE COME UN CSV RICORDATI DI FAR GIRARE I CODICI QUA SOTTO PER RIMETTERE AL MONDO IL DATABASE

In [381]:
criterio = {'Unnamed: 0':'Country', 'Unnamed: 1': 'Time'}
house=house.rename(columns= criterio)

In [382]:
sample=house.groupby('Country').sum().index

## STANDARDIZZIAMOOOOOOO

In [383]:
sample

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')

## NON SI PUò CREARE UNA LOOP NELLA QUALE SI CALCOLANO MEDIA E STANDARD DEVIATION PER I DIVERSI PAESI MENTRE SI CERCA CONTEMPORANEAMENTE DI MODIFICARE IL DATABASE, SERVONO DUE LOOP SEPARATE MA UGUALI COME INTESTAZIONE:

***DI FATTO CREO UN DIZIONARIO VERO E PROPRIO CON DUE LIVELLI DI CHIAVE:***

**1) [PAESE] MI PERMETTE DI INSERIRE NEL DIZIONARIO IN POSIZIONE [PAESE] TUTTE LE STATISTICHE RELATIVE**

**2) SELEZIONATA LA POSIZIONE CHE VOGLIO, IL [PAESE] CHE MI SERVE, SCELGO LA STATISTICA COME 'STATISTICA**

In [384]:
group_data = {}
for paese in sample:

    media_price = house.loc[str(paese),'Real house price indices'].mean()
    media_pti = house['Price to income ratio'].loc[str(paese)].mean()
    
    std_price = house['Real house price indices'].loc[str(paese)].std()
    std_pti = house['Price to income ratio'].loc[str(paese)].std()

    group_data[paese]={

        'media_price': media_price,
        'media_pti': media_pti,
        
        'std_price': std_price,
        'std_pti': std_pti
    }

group_data['Belgium']

{'media_price': Real house price indices    94.620415
 dtype: float64,
 'media_pti': Price to income ratio    119.516434
 dtype: float64,
 'std_price': Real house price indices    13.758173
 dtype: float64,
 'std_pti': Price to income ratio    15.113311
 dtype: float64}

**PER OGNI PAESE ESTRAGGO LE INFORMAZIONI E LE USO PER MODFICIARE IL DATABASE**

In [385]:
standardized_data = []
standardized_data_pti = []
for paese in sample:

    media_price = group_data[paese]['media_price']
    std_price = group_data[paese]['std_price']
    media_pti = group_data[paese]['media_pti']
    std_pti = group_data[paese]['std_pti']

    dati = (house.loc[str(paese)]['Real house price indices'] - media_price)/std_price
    dati_pti = (house.loc[str(paese)]['Price to income ratio']- media_pti) /std_pti
    
    standardized_data.append(dati)
    standardized_data_pti.append(dati_pti)
    
    group = pd.concat(standardized_data)
    group_pti = pd.concat(standardized_data_pti)


group.reset_index(inplace=True)
group_pti.reset_index(inplace=True)
house.reset_index(inplace=True)

In [388]:
house

      Country     Time Real house price indices Price to income ratio
0      Canada  Q1-2000                49.487671             77.799455
1      Canada  Q2-2000                49.705752             77.597199
2      Canada  Q3-2000                49.905957             77.059732
3      Canada  Q4-2000                50.086277             76.532518
4      Canada  Q1-2001                50.567028             76.297197
...       ...      ...                      ...                   ...
2091  Germany  Q4-2021               146.902469            114.736853
2092  Germany  Q1-2022               146.519313            115.207677
2093  Germany  Q2-2022               144.428679            114.487071
2094  Germany  Q3-2022               140.251694            110.225882
2095  Germany  Q4-2022               130.802963            104.025476

[2096 rows x 4 columns]

In [389]:

house['Real house price index']= group['Real house price indices']
house ['Price-Income Ratio']  = group_pti['Price to income ratio']


house= house.drop(['Real house price indices','Price to income ratio'],axis=1)

In [396]:
house.to_csv('house_data.csv')

In [400]:
df = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/house_data.csv')
df = df.drop('Unnamed: 0',axis=1)

In [401]:
df.head(10)
df=df.set_index(['Country','Time'])

  Country     Time  Real house price index  Price-Income Ratio
0  Canada  Q1-2000               -1.906352           -2.039300
1  Canada  Q2-2000               -1.880136           -1.833544
2  Canada  Q3-2000               -1.931196           -2.285383
3  Canada  Q4-2000               -1.891443           -2.027916
4  Canada  Q1-2001               -1.849159           -2.018543
5  Canada  Q2-2001               -1.791360           -1.957805
6  Canada  Q3-2001               -1.666588           -1.785276
7  Canada  Q4-2001               -1.609233           -1.805659
8  Canada  Q1-2002               -1.505399           -1.523085
9  Canada  Q2-2002               -1.368800           -0.944587

## VALORI STANDARDIZZATI PER REAL HOUSE PRICE INDEX E PRICE TO INCOME RATIO SU DATI TRIMESTRALI OECD:

**NOTARE CHE NEL CASO DI RUSSIA E ISLANDA I VALORI MANCANTI DI PTI RATIO SONO STATI SOSTITUITI CON RISPETTIVI VALORI DI PRICE TO RENT RATIO**

In [404]:
df

                 Real house price index  Price-Income Ratio
Country Time
Canada  Q1-2000               -1.906352           -2.039300
        Q2-2000               -1.880136           -1.833544
        Q3-2000               -1.931196           -2.285383
        Q4-2000               -1.891443           -2.027916
        Q1-2001               -1.849159           -2.018543
...                                 ...                 ...
Germany Q4-2021                2.389218            1.341601
        Q1-2022                2.612958            1.895590
        Q2-2022                2.750616            2.119814
        Q3-2022                2.641227            1.924850
        Q4-2022                2.594136            1.841480

[2096 rows x 2 columns]